<strong>Olá, {{ organizer }}</strong>
<p>Um novo usuário se inscreveu no seu meetup "{{ meetup }}"</p>

<p>
  <strong>Usuário: </strong>{{ user }} <br>
  <strong>Email: </strong> {{ email }} <br>
  <br>
  <small>Parabéns por mais uma inscrição ;)</small>
</p>
